extends base

block content
    if errorMessage 
        span=errorMessage
    div 
        a.button(href="/joinAdd") 사용자등록
    table
        tr 
            th 이름
            th 이메일
            th 부서
            th 색상
        each j in userList 
            tr
                td 
                    a(href=`/join/${j._id}`) #{j.name}     
                td
                    a(href=`/join/${j._id}`) #{j.email}     
                if(j.department)
                    td #{j.department.name}
                if(!j.department)
                    td 
                td  
                    input(type="color", disable, value=j.color, style="display:block; with:100px;")        