extends base

block content
    if errorMessage 
        span=errorMessage
    form(method="post")
        input(placeholder="메뉴명", name="menuName", type="text", require ) 
        input(placeholder="메뉴주소",name="menuUrl", type="text" ) 
        input(placeholder="정렬순서",name="order", type="number", require ) 
        select(name="userId")
            option(value="") 선택
            each item in userList
                option(value=`${item._id}`) #{item.name}_#{item.email}
        select(name="departmentId")
            option(value="") 선택
            each item in departmentList
                option(value=`${item._id}`) #{item.name}            
        input(type="submit", value="등록")        
    ul 
        each item in menuList
            li 
                a(href=`/menuDetail/${item._id}`) #{item.menuName}_#{item.menuUrl}_#{item.order}
            if(item.user)
                each userItem in item.user
                    span #{userItem.name}_#{userItem.email}
                else 
                    span 사용자가 없습니다.
            if(item.department)
                each departmentItem in item.department
                    span #{departmentItem.name}
                else 
                    span 부서가 없습니다.            
        else 
            li 
                span 메뉴를 등록해 주세요.