extends base

block content
    if errorMessage 
        span=errorMessage
    div.addButtonLayout
        a.button(href="/menuAdd") 대메뉴등록        
    table(style="max-width: 800px")
        each item in menuList
            tr
                th 메뉴명
                th 메뉴주소
                th 순서 
                th(style="width:30px;text-align:center") 삭제 
            tr
                td(style="height:40px") 
                    a(href=`/menuDetail/${item._id}`) #{item.menuName}
                td #{item.menuUrl}
                td #{item.order}
                td(style="text-align:center") 
                    a(href=`/menuDelete/${item._id}`) ❌
            tr
                th 
                th 이름
                th 이메일        
            if(item.user)
                each userItem in item.user
                    tr
                        td(style="height:40px;")
                        td #{userItem.name}
                        td #{userItem.email}
                else 
                    tr 
                        td 사용자가 없습니다.
                    tr
                        th  
                        th 부서
                        th 
            if(item.department)
                each departmentItem in item.department
                    tr
                        td(style="height:40px;")
                        td #{departmentItem.name}
                        td
                else 
                    span 부서가 없습니다.            
        else 
            li 
                span 메뉴를 등록해 주세요.