extends base

block content
    if errorMessage 
        span=errorMessage
    link(rel="stylesheet", href="/static/css/board.css")
    .div(class="title")    
        h1 #{pageTitle}
    .context(id="context")
        .row
            .item 
                label 공개여부
                if(notice.publicYn ==='Y')
                    span 공개
                else 
                    span 비공개
        .row                
            .item
                label 작성자  
                span #{notice.writer.name}
        .row
            .item    
                label 작성일
                span #{notice.createdAtFormat}
        .item
            label 제목     
            span #{notice.title}
        .item
            label 내용
            .content !{notice.content}
        .item
            label 첨부파일
            if(notice.files[0])
                a(href='#' id="fileDownload") #{notice.files[0].originalname}
                //- a(href=`/noticeBoardListDetail/${notice.files[0]._id}` id="fileDownload") #{notice.files[0].originalname}
                input(type="hidden" id="fileId" value=notice.files[0]._id)     
                input(type="hidden" id="fileName" value=notice.files[0].originalname)     
        .row-right             
            button(id="edit") 수정
            button(id="delete") 삭제       
    .component(id="component" style="display:none")    
        form(method="post")
            input(type="hidden" value="1" name="boardGroupId")
            input(type="hidden" value=id name="boardId" id="boardId")
            select(name="publicYn")
                if(notice.publicYn === 'Y')
                    option(value="Y" selected="true") 공개
                    option(value="N") 비공개
                else
                    option(value="Y") 공개    
                    option(value="N" selected="true") 비공개
            input(placeholder="제목", name="title", type="text", value=notice.title required)
            textarea(class="ckeditor", name="editor4", cols="30", rows="10") #{notice.content}
            input(type="submit", value="저장")

block scripts
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js" type="text/javascript")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js", type="text/javascript")
    script(src="https://cdn.ckeditor.com/4.17.1/standard/ckeditor.js" type="text/javascript")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js" type="text/javascript")
    script(type="text/javascript").
        $(document).ready(function () {
            $('#edit').click(function(){
                $('#context').css("display","none");
                $('#component').css("display","block")
            });
            $('#delete').click(function(){
                if(confirm('삭제하시겠습니까?')){
                    const id = $('#boardId').val();
                    const form_data = {
                        boardId: id,
                    }
                    $.ajax({
                        type: "delete",
                        url: `/noticeBoardListDetail/${id}`,
                        data: form_data,
                        success: function (response) {
                            console.log(response);
                            if(response === 'OK'){
                                location.href ='/noticeBoardList';
                            }
                        },
                        error: function (xhr) {
                            console.log(xhr);
                        }
                    }).fail(function () {
                        alert('fail');
                    });
                }
            });
            $('#fileDownload').click(function(){
                const fileId = document.getElementById("fileId").value;
                const fileName = document.getElementById("fileName").value;
                $.ajax({
                    type: "get",
                    url: `/noticeBoardListFileDownload/${fileId}`,
                    success: function (response) {
                        console.log(response);
                        var a = document.createElement("a");
                        const url = window.location.hostname;
                        console.log(url);
                        if(url.indexOf('localhost') !== -1){
                            a.href = `http://localhost:4500/uploads/files/${fileName}`;
                        }else{
                            a.href = `https://master-piece-r.herokuapp.com/uploads/files/${fileName}`;
                        }
                        // Set the file name
                        a.download = fileName;
                        a.click();
                    },
                    error: function (xhr) {
                            console.log(xhr);
                        }
                    }).fail(function () {
                        alert('fail');
                });
            });

            CKEDITOR.replace('editor4'//, {
                    //filebrowserUploadUrl: getApiHost() + '/upload/faq/mine/imageUpload' //이미지 업로드 경로 예시
                    //}
            );
        });
