div.sidemenu
    ul
        if(menuList)
            each item in menuList 
                li
                    a(href=`${item.menuUrl}`) #{item.menuName}
                    if(item.subMenu)
                        ul
                            each subItem in item.subMenu
                                each dep in subItem.department
                                    if(dep == loggedInUser.department._id)
                                        if(loggedInUser.department._id === '612490cc21f010838f50a41b')
                                            li
                                                if(startUrl == subItem.subMenuUrl && lastOrder == subItem.order)
                                                    a( href=`${subItem.subMenuUrl}?order=${subItem.order}`, class="selected") #{subItem.subMenuName}
                                                else 
                                                    a( href=`${subItem.subMenuUrl}?order=${subItem.order}`) #{subItem.subMenuName}    
                                        else 
                                            li
                                                if(startUrl == subItem.subMenuUrl && lastOrder == subItem.order)
                                                    a( href=`${subItem.subMenuUrl}` , class="selected") #{subItem.subMenuName}
                                                else 
                                                    a( href=`${subItem.subMenuUrl}`) #{subItem.subMenuName}
        li 
            a(href='https://paint-quiz.herokuapp.com/' target="_blank") 심심풀이 게임